.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-title {
  position: absolute;
  top: 0%;
  left: 35%;
  color: white;
  font-weight: bold;
}

.hero-button {
  /* position: absolute; */
  padding: 15px 30px;
  background-color: #ff9900;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.hero-button:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.featured-vendors {
  padding: 50px 0;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 36px;
  margin-bottom: 30px;
}

.vendor-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.vendor-card {
  min-width: 350px;
  width: 350px;
  margin: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vendor-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.vendor-name {
  color: #333;
  font-size: 24px;
  margin: 10px;
}

.services-list {
  list-style: none;
  padding: 0 10px;
}

.services-list li {
  color: #555;
  font-size: 18px;
  margin: 5px 0;
}

.view-profile-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff9900;
  color: white;
  border: none;
  border-radius: 0 0 5px 5px;
  font-size: 18px;
  cursor: pointer;
}
.view-profile-button:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}
.image-container {
  position: relative;
  display: inline-block; /* Ensures the div only takes up the space needed by the image */
}

.image-container img {
  display: block; /* Ensures the image behaves as a block element */
  max-width: 100%; /* Ensures the image doesn't exceed its natural width */
  height: auto; /* Allows the image to scale proportionally */
}

.confetti {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}
.confetti:before {
  content: "🎉";
  position: absolute;
  top: 40%;
  left: 70%;
  font-size: 40px;
  animation: confetti-fall 5s infinite;
}
@keyframes confetti-fall {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, 100%) rotate(360deg);
  }
}
